<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>
 
    {{ header_meta }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link href='http://fonts.googleapis.com/css?family=Bentham|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ static('themes/_assets/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="https://dl.dropbox.com/s/g50unvxd005uazw/style.css" rel="stylesheet" />
 
    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
<body>
     {% if is_login %}
 
  {{ login_form }}
 
{% else %}
 
<!-- Start blog display -->
<div class="wrapper">
 
  <!-- Header -->
  <div class="header_wrap">
     
    <header role='banner' class="site_header"{% if site.cover_photo %} style="background-image: url('{{ site.cover_photo }}'); background-repeat: no-repeat; background-position: center center;"{% endif %}>
 
      <a href="/"><img src="https://dl.dropbox.com/s/1ckudtjd4sk6lws/logo.png" alt="{{ site.name }}"></a>
      <h1><a href="/">{{ site.name }}</a></h1>
      {% if site.bio %}<p><a href="/">{{ site.bio }}</a></p>{% endif %}
 
    </header>

  </div>
  
 <!-- Footer -->
{% if site.twitter or site.facebook or site.googleplus %}
<div class="social_links">
  <!-- <div class="social_col">SOCIAL:</div>-->
  {% if site.twitter %}<div class="social_col"><a href="{{ site.twitter }}" target="_blank">TWITTER</a></div>{% endif %}
  {% if site.facebook %}<div class="social_col"><a href="{{ site.facebook }}" target="_blank">FACEBOOK</a></div>{% endif %}
  {% if site.googleplus %}<div class="social_col"><a href="{{ site.googleplus }}" target="_blank">GOOGLE+</a></div>{% endif %}
</div>
{% endif %}
 
<footer class="site_footer">
  2014 &copy;  Copyright Creative Little Journal. All rights reserved.
</footer> 

</div>
 
<!-- End blog display -->
 
{% endif %}
 
{{ footer_meta }}
</body>
</html>
