<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

<!-- mailchimp form styling -->
<link href="https://dl.dropbox.com/s/vbzwgbv0njt0gvd/mc_form.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#555; display:block; margin:auto; font:14px PT Serif,Helvetica,Arial; color:#000000;  width:700px;}
</style>
<!-- mailchimp form styling end -->

    {{ header_meta }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link href='http://fonts.googleapis.com/css?family=Bentham|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ static('themes/_assets/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="https://dl.dropbox.com/s/g50unvxd005uazw/style.css" rel="stylesheet" />
 
    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
<body>
     {% if is_login %}
 
  {{ login_form }}
 
{% else %}

<!-- SDK Javascript framework --> 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- SDK Javascript framework end--> 
 
<!-- Start blog display -->
<div class="wrapper">
 
  <!-- Header -->
  <div class="header_wrap">
     
    <header role='banner' class="site_header"{% if site.cover_photo %} style="background-image: url('{{ site.cover_photo }}'); background-repeat: no-repeat; background-position: center center;"{% endif %}>
 
      <!---<a href="/"><img src="?????????" alt="{{ site.name }}"></a>--->
      <h1><a href="/">{{ site.name }}</a></h1>
      {% if site.bio %}<p><a href="/">{{ site.bio }}</a></p>{% endif %}
 
    </header>

  </div>
  
  <!-- Posts Area -->
<main class="posts_area">
   
  {% if is_home or is_tag %}
  <!-- Post list -->
 
    {% if is_tag %}
    <h4 class="tag_header"><span class="separator">&#8226;</span> Showing all posts tagged as {{ tag }} <span class="separator">&#8226;</span></h4>
    {% endif %}
 
    {% if posts %}
      {% for post in posts %}
 
        <article class="post" role="article" itemscope itemtype="http://schema.org/Article">
          <h1 class="title"><a href="{{ post.permalink }}#post_start">{{ post.title }}</a></h1>
          <div class="post_meta">
            <time class="post_date" datetime="{{ post.created_at|format_date }}" itemprop="datePublished">{{ post.created_at|format_date }}</time>
          </div>
          <div class="postcontent_list" itemprop="articleBody" data-type-cleanup="true">
          {{ post.content }}
          {% if post.type == 'link' %}
            <p class="link_display"><a href="{{ post.url }}"><i class="icon-link"></i> {{ post.url }}</a></p>
          {% endif %}
          <div class="after_post"><a href="{{ post.permalink }}#post_start">Read More &raquo;</a></div>
          </div>
        </article>
 
      {% endfor %}
      {% if not is_tag %}
      <div class="pagination">
          {% if pagination.prev %}<a href="{{ pagination.prev }}" class="pagination_prev"><i class="icon-hand-left"></i> Prev</a>{% endif %}
          {% if pagination.next %}<a href="{{ pagination.next }}" class="pagination_next">Next <i class="icon-hand-right"></i></a>{% endif %}
      </div>
      {% endif %}
    {% endif %}
 
  {% else %}
  <!-- Single post -->
 
    <article class="post" id="post_start" role="article" itemscope itemtype="http://schema.org/Article">
      <h1 class="title">{{ post.title }}</h1>
      <div class="post_meta">
        <time class="post_date" datetime="{{ post.created_at|format_date }}" itemprop="datePublished">{{ post.created_at|format_date }}</time>
        {% if post.tags %}
        <span class="separator">&#8226;</span>
        <div class="post_tags">
          <a href="/tag/{{ tag }}">{{ post.tags|format_tags(delimiter=', ', humanize=True, link=True) }}</a>
        </div>
        {% endif %}
      </div>
      <div class="postcontent_single" itemprop="articleBody" data-type-cleanup="true">
      {{ post.content }}
      {% if post.type == 'link' %}
        <p class="link_display"><a href="{{ post.url }}"><i class="icon-link"></i> {{ post.url }}</a></p>
      {% endif %}
      </div>
      <div class="after_post">{{ theme.social.bar }}</div>
    </article>
 
  {% endif %}
  
  <!-- facebook like -->
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
  <!-- facebook like end -->
  
  {% if site.disqus %}
<div class="post_comments">
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ site.disqus }}';
    var disqus_url = '{{site.base_url}}{{ post.permalink }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>
{% endif %}

<div class="ssk-group">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-google-plus"></a>
    <a href="" class="ssk ssk-pinterest"></a>
    <a href="" class="ssk ssk-tumblr"></a>
</div>

  {% if pages %}
<nav><ul>
  <li><a href="{{ site.base_url }}">Home</a></li>
  {% for page in pages %}
    <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
  {% endfor %}
</ul></nav>
{% endif %}
 
</main>
  
 <!-- Footer -->
 <!---
{% if site.twitter or site.facebook or site.googleplus %}
<div class="social_links">
  <div class="social_col">FOLLOW:</div>
  {% if site.twitter %}<div class="social_col"><a href="{{ site.twitter }}" target="_blank">Twitter</a></div>{% endif %}
  {% if site.facebook %}<div class="social_col"><a href="{{ site.facebook }}" target="_blank">Facebook</a></div>{% endif %}
  {% if site.googleplus %}<div class="social_col"><a href="{{ site.googleplus }}" target="_blank">Instagram</a></div>{% endif %}
</div>
{% endif %}
-->
 
<footer class="site_footer">

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//thefjaell.us10.list-manage.com/subscribe/post?u=121a6f43cde2fc1fbbd2023d7&amp;id=9a09df17c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Get our latest news straight into your inbox</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_121a6f43cde2fc1fbbd2023d7_9a09df17c6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

<p><a href="http://feeds.feedburner.com/TheFjaell" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="RSS" style="vertical-align:right;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/TheFjaell" rel="alternate" type="application/rss+xml">RSS Feed</a></p>

  2015 &copy; TheFjaell. All rights reserved.
  Picture by Billy Lindblom on Flickr.
</footer> 

</div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
jQuery(document).ready(function($){
  function responsiveIframe() {
    $('iframe').each(function(){
      var iw = $(this).width();
      var ih = $(this).height();
      var ip = $(this).parent().width();
      var ipw = ip/iw;
      var ipwh = Math.round(ih*ipw);
      $(this).css({
        'width': ip,
        'height' : ipwh,
      });
    });
  }
 
  responsiveIframe();
 
  //Call function again if window resized
  $(window).resize(function(){
    responsiveIframe();
  });
 
});
</script>

<!-- End blog display -->
 
{% endif %}
 
{{ footer_meta }}
</body>
</html>
